.header {
  font-weight: bold;
}

.mytable {
  display: table;
}

.cell {
  display: table-cell;
  text-align: center;
}

.myrow {
  display: table-row;
}

.week {
  width: 120px;
  height: 30px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  text-align: center;
  font-weight: bold;
}

.col {
  padding-top: 4px;
  height: 30px;
  border: 1px solid #ddd;
}

.col-header {
  font-weight:bold;
}

.col-entry {
  display: table-cell;
  width: 60px;
  height: 30px;
  text-align: center;
}

.col-front {
  display: table-cell;
  padding-left: 4px;
  width: 150px;
}

.col-second {
  display: table-cell;
  text-align: center;
  width: 80px;
}

.mtoheader{
  width: 100px;
  height: 38px;
  border: 1px solid #ddd;
  background-color: transparent;
  text-align: center;
}

.die {
  width: 50px;
  height: 37px;
  border: 1px solid #ddd;
  background-color: transparent;
  text-align: center;
  padding-top: 8px;
  margin: 0px;
}

.wafer {
  width: 50px;
  height: 37px;
  border: 1px solid #ddd;
  background-color: transparent;
  text-align: center;
  padding-top: 8px;
  margin: 0px;
}
